#diff.form-area
  %h3 Metadata:
  %table{:class=>"fieldset"}
    %tbody
      %tr
        %th{:class=>"label"} Page Title:
        %td{:class=>"field"}= field_diff(version.diff["title"] || [version.instance.title])
      - if version.diff["slug"]
        %tr
          %th{:class=>"label"} Slug:
          %td{:class=>"field"}= field_diff(version.diff["slug"])
  %h3 Page Parts:
  #pages
    - version.diff["parts"].each do |part|
      = part_diff(part)
  .row
    %p
      %label Layout:
      %span
        %span.from Foo
        &rarr;
        %span.to Bar
    %p
      %label Page Type:
      %span
        %span.from Foo
        &rarr;
        %span.to Bar
    %p
      %label Status:
      %span
        %span.from Foo
        &rarr;
        %span.to Bar
  %span.clear
  = updated_stamp(version.instance)
