.version-info
  %span.version-number
    = "Version " + @version.number.to_s
  %span.version-updated-at
    = @version.instance.updated_at.to_formatted_s(:short)
  %span.version-status
    = @version.instance.status.name
  %span.version-author
    = @version.saved_by.name
